<html>
<head>
    <link href="css/App/home.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <ons-navigator animation="fade" var="homeNavigator">
        <ons-page class="ons-page-fixed">

            <div class="navigation-bar">
                <div class="navigation-bar__left">
                    <span class="toolbar-button--quiet navigation-bar__line-height" ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false" style="color:white"></ons-icon>
                    </span>
                </div>

                <div class="navigation-bar__center">
                    <label class="toolbarHeader" style="color:white">Delivery information</label>
                </div>
            </div>


        </ons-page>
    </ons-navigator>
</body>
</html>